/*================== normalize ==================*/
* {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	overflow-x: hidden;
}
/*================== document tag selectors ================*/
html {
	background-color: black;
}
img {
	filter: invert(100%) drop-shadow(2px 2px 2px #E18A07);
	transition: filter 4s;
}
	img:hover {
		filter: sepia(0%);
	}
p {
	width: 60%;
	margin: 20px auto;
}
h4 {
	color: #E18A07;
	font-style: italic;
	margin: 50px 5% 0 0;
	float: right;
}

#container {
	width: 100%;
	margin: 0px auto;
	color: #C0C0C0;
}
.parallax {
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-bottom: 1px solid #E18A07;
}
span.bold {
	font-weight: bold;
}
span.italic {
	font-style: italic;
}
/*=================== begin header styling ====================*/
header {
	background-image: url('images/detroit_custom.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
	header img {
		visibility: hidden;
	}
/*================= end header styling ===================*/
/*============= begin common sections styling =============*/
section {
	background-color: black;
	border-top: 1px solid #E18A07;
	padding-bottom: 20px;
}
	#skills .parallax {
		background-image: url("images/coding.jpg");
	}
	#projects .parallax {
		background-image: url("images/projects.jpg");
	}
	#education .parallax {
		background-image: url("images/education.png");
	}
	#otherStuff .parallax {
		background-image: url("images/more.png");
	}
	#links .parallax {
		background-image: url("images/connect.png");
		background-position: 50% 20%;
		min-height: 300px;
	}
	section h2 {
		margin: 0 -9999rem;
		padding: 1rem 9999rem;
		height: 2em;
		color: #E18A07;
	}
	section h3 {
		background-color: #E18A07;
		padding: 7px;
		width: 70%;
		margin: 10px auto;
		border-radius: 6px;
	}
	section img {
		border-radius: 10px;
		margin-top: 20px;
	}
/*============ end common sections styling =================*/
/*============ start about section styling ===============*/
/*============= end about section styling =================*/
/*============= begin skills section styling ===============*/
table {
	margin: 5px auto;
}
	td {
		padding: 10px;
		text-align: left;
	}
/*============== end skills section styling =================*/
/*============ begin otherStuff styling ================*/
#otherStuff .project {
	margin-top: 30px;
}
/*============= end otherStuff styling =================*/
#links {
	margin: 40px 0 40px 0;
}
	ul {
		margin-top: 20px;
		list-style-type: none;
	}
	li {
		margin: 10px 0px 0px 50px;
		display: inline-block;
	}
	#links img {
		width: 5em;
		height: 5em;
		background-color: white;
		border-radius: 50%;
		filter: none;
	}
/*================= begin footer styling ==================*/
footer {
	background-image: url('images/dallas.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-top: 1px solid #E18A07;
}
footer img {
		visibility: hidden;
	}